{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow-lg">

<div class="card-body p-5">

<h2 class="text-center">

📝 Create Account

</h2>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label>Username</label>

<input
type="text"
name="username"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Email</label>

<input
type="email"
name="email"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Password</label>

<input
type="password"
name="password"
class="form-control"
required>

</div>

<div class="d-grid">

<button class="btn btn-success">

Register

</button>

</div>

</form>

</div>

</div>

</div>

</div>

{% endblock %}