body{

background:#f5f7fb;

font-family:Arial, Helvetica, sans-serif;

}

.navbar{

box-shadow:0 3px 8px rgba(0,0,0,.2);

}

.card{

border:none;

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.btn{

margin:5px;

border-radius:30px;

}

footer{

margin-top:80px;

}